.pagination-container {
  display: flex;
  justify-content: right;
  gap: 2rem;
  align-items: center;
}
.pagination-container .chevron {
  cursor: pointer;
  padding: 8px;
}
.pagination-container button {
  background-color: unset;
  border: none;
}
.pagination-container .chevron:disabled {
  color: #ccc;
  cursor: not-allowed;
}
