.sidebar-container {
  padding: 12px;
  color: #9f9898;
}
.sidebar-container > ul > li {
  margin-bottom: 20px;
}
.sidebar-container > ul > li > ul > li {
  margin-bottom: 10px;
  padding-left: 12px;
}
.sidebar-container a,
.sidebar-container a:link {
  color: #9f9898;
  font-weight: 600;
  text-decoration: none;
  display: flex;
}

.sidebar-container a.active {
  color: #6439ff;
}

.sidebar__title {
  margin-bottom: 12px;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: -0.5px;
  font-size: 12px;
}
.sidebar-icon {
  color: #6439ff;
  width: 28px;
}
