*,
html,
body {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.table-container {
  overflow-x: auto; /* Tạo thanh cuộn ngang */
  width: 100%;
}
table {
  margin-top: 12px;
  width: 100%;
  border-spacing: 0; /* Xóa khoảng cách giữa các ô */
  border-radius: 8px; /* Bo góc toàn bảng */
  overflow: hidden; /* Ẩn góc thừa */
  border: 1px solid #ddd;
}
td,
th {
  border-bottom: 1px solid #ddd;
  padding: 12px;
}
th > div {
  font-weight: 600;
  text-align: left;
  border-right: 1px solid #ddd;
}
tr:last-child > td {
  border: none;
}
.none-row {
  height: 60px;
}

/* dashboard admin */
.dashboard-container {
  margin: 1rem;
}
.dashboard-head {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
}
.dashboard-head__title {
  font-size: 22px;
  font-weight: 600;
  color: #aaa;
  margin-bottom: 1rem;
}
.box-shadow {
  box-shadow: 2px 2px 8px #ddd;
  padding: 8px;
}
.btn {
  background-color: unset;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 6px;
}
.btn-add {
  border: 1px solid #138d49;
  color: #138d49;
}
.btn-delete {
  border: 1px solid #e44862;
  color: #e44862;
}
.btn-update {
  border: 1px solid #485de4;
  color: #485de4;
}

/* form */
.form-container {
  padding: 1rem 3rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 4rem;
}
.form-control > * {
  display: block;
}
.form-control > *:last-child {
  color: gray;
}
.form-control > input {
  width: 100%;

  border: none;
  border-bottom: 1px solid #000000;
  padding: 6px;
}
.form-control > textarea {
  width: 100%;
  min-width: 100%;
  min-height: 40px;
  max-height: 200px;
  resize: vertical;
}
.form-actions button {
  border: none;
  text-align: center;
  padding: 10px;
  width: 140px;
  color: white;
  background-color: #008080;
  font-weight: bold;
  cursor: pointer;
}
.form-actions button:hover {
  background-color: #00adad;
}
.full-col {
  grid-column: 1 / span 2;
}
